<body class="crm_body_bg">
    <section class="large_header_bg">
      <div class="main_content_iner">
        <div class="container-fluid p-0">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="dashboard_header mb_50">
                <!-- <div class="row">
                  <div class="col-lg-6">
                    <div class="dashboard_header_title">
                      <h3>Login</h3>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="dashboard_breadcam text-end">
                      <p>
                        <a href="index.html">Dashboard</a>
                        <i class="fas fa-caret-right"></i> login
                      </p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="col-lg-12">
              <div class="white_box mb_30">
                <div class="row justify-content-center">
                  <div class="col-lg-6">
                    <div style="display: flex" class="justify-content-center">
                      <img style="width: 100px" src="img/qc.png" alt="" />
                    </div>
                    <div style="display: flex" class="justify-content-center text-center">
                      <p style="padding: 20px;">If you've forgotten your password,
                        don't worry! We're here to help you
                        regain access to your account. Please
                        provide the necessary information below
                        to initiate the password
                        recovery process.</p>
                    </div>
                    <div class="modal-content cs_modal">
                      <div class="modal-header justify-content-center theme_bg_1">
                        <h5 class="modal-title text_white">Forgot Password</h5>
                      </div>
                      <div class="modal-body">
                        <%- include ("./partials/messages"); %>
  
                        <form id="myForm" action="/forgotpassword" method="post">
                          
                          <div class="">
                            <input
                              type="email"
                              name="email"
                              id="email"
                              class="form-control"
                              placeholder="Enter your email to reset password"
                              required
                            />
                          </div>
                     
                          <button
                            onclick="changeButton(event, this)"
                            class="btn_1 full_width text-center"
                          >
                            Submit
                          </button>
  
                    
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <script>
      function changeButton(event, button) {
        event.preventDefault();
  
        button.innerHTML = "Please wait....";
        button.disabled = true;
  
        document.getElementById("myForm").submit();
      }
    </script>
  </body>
  